name: terraform-deploy
permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:
    inputs:
      aws_region:
        type: string
        required: true
        default: eu-west-1
      azs:
        type: string
        required: true
        default: '["eu-west-1a","eu-west-1b"]'
      deployAll:
        type: boolean
        required: false
        default: false
      deploy_backend:
        type: boolean
        required: false
        default: false
      deploy_network:
        type: boolean
        required: false
        default: false
      deploy_eks:
        type: boolean
        required: false
        default: false

jobs:
  guard-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Allow only master branch
        run: |
          if [ "${GITHUB_REF}" != "refs/heads/master" ]; then
            echo "This workflow can only run on master."; exit 1;
          fi

  network-deploy:
    needs: guard-branch
    if: inputs.deployAll == true || inputs.deploy_network == true
    uses: ./.github/workflows/_tf-deploy-reusable.yml
    with:
      module_path: terraform/network
      aws_region: ${{ inputs.aws_region }}
      extra_tfvars: ${{ format('-var=azs={0}', inputs.azs) }}
    secrets: inherit

  eks-deploy:
    needs: guard-branch
    if: inputs.deployAll == true || inputs.deploy_eks == true
    uses: ./.github/workflows/_tf-deploy-reusable.yml
    with:
      module_path: terraform/eks
      aws_region: ${{ inputs.aws_region }}
    secrets: inherit
