name: terraform-plan
permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:
    inputs:
      module:
        description: Terraform Module Path
        required: true
        type: choice
        options: [terraform/backend-s3-state, terraform/network, terraform/eks]
      aws_region:   { description: AWS region, required: true, default: eu-west-1 }
      azs:          { description: AZs JSON, required: false, default: '["eu-west-1a","eu-west-1b"]' }

jobs:

  plan:
    uses: ./.github/workflows/_tf-plan-reusable.yml
    with:
      module_path: ${{ inputs.module }}
      aws_region: ${{ inputs.aws_region }}
      use_backend_config: ${{ inputs.module != 'terraform/backend-s3-state' }}
      extra_tfvars: ${{ inputs.module == 'terraform/network' && format('-var=azs={0}', inputs.azs) || '' }}
    secrets: inherit
